<section id="blogs">
    <div class="container">
        <h2 class="section-title">Blogs</h2>
        <div class="title-border"></div>
    </div>
    <div class="blog-container">
        {{#each blogs}}
            <a class="blog" data-img="{{img}}" href="{{link}}" target="_blank">
                <div class="blog-title">
                    <h3>{{title.rendered}}</h3>
                </div>
            </a>
        {{/each}}
    </div>
    <div class="text-center blog-btn">
        <a href="http://blog.simplifyingpurchasing.com" target="_blank" class="btn-primary-gradient">{{ tl.blogs.more }}</a>
    </div>
</section>