<svg xmlns="http://www.w3.org/2000/svg" data-name="Laag 1" viewBox="-1 -1 266 280">
    <g class="blog-svg-item">
        <a xlink:href="http://simplifyingpurchasing.com/blog" href="http://simplifyingpurchasing.com/blog" target="_blank">
        <polygon fill="#ead82c" points="155.400 0.000, 108.500 0.000, 85.000 40.600, 108.500 81.300, 155.400 81.300, 178.800 40.600, 155.400 0.000"/>
        <polygon class="blog-svg-overlay-white" fill="#ead82c" fill-opacity="0.7" stroke="#ead82c" stroke-width="1" points="155.400 0.000, 108.500 0.000, 85.000 40.600, 108.500 81.300, 155.400 81.300, 178.800 40.600, 155.400 0.000" />
        <text class="alle-blogs-svg-text" fill="#fff" font-family="ZwoOT-Xbold,Zwo OT" font-size="11" font-weight="700" transform="translate(122.2 36.8)">
            Alle<tspan x="-3.8" y="13.2">Blogs</tspan>
        </text>
        </a>
    </g>
    <g class="g-test blog-svg-item">
        <a xlink:href="http://simplifyingpurchasing.com/2018/03/15/test-stage-5-test-map/" href="http://simplifyingpurchasing.com/2018/03/15/test-stage-5-test-map/" target="_blank">
        <defs>
            <pattern id="image-bg-bloga" x="0" y="43" height="95" width="95" patternUnits="userSpaceOnUse">
            <image width="95" height="95" xlink:href="./public/images/hexagons/blog-1.png"/>
            </pattern>
        </defs>
        <polygon points="94.400 90.800, 71.000 131.400, 24.000 131.400, 0.600 90.800, 24.000 50.200, 71.000 50.200, 94.400 90.800" fill="url('#image-bg-bloga')" />
        <polygon class="blog-svg-overlay" stroke="#ead82c" stroke-width="1" fill="#fff" fill-opacity="0.7" points="94.400 90.800, 71.000 131.400, 24.000 131.400, 0.600 90.800, 24.000 50.200, 71.000 50.200, 94.400 90.800"/>
        <text class="blog-svg-text" fill="#585757" font-family="ZwoOT-Xbold,Zwo OT" font-size="11" font-weight="700" transform="translate(38 94)">
            Test
        </text>
        </a>
    </g>
    <g class="g-daphne blog-svg-item">
        <a xlink:href="http://simplifyingpurchasing.com/2018/02/07/daphne-genter-lakran-presents-wow/"  href="http://simplifyingpurchasing.com/2018/02/07/daphne-genter-lakran-presents-wow/" target="_blank">
        <defs>
            <pattern id="image-bg-blogb" x="85" y="92" height="95" width="95" patternUnits="userSpaceOnUse">
            <image width="95" height="95" xlink:href="./public/images/hexagons/blog-2.png"/>
            </pattern>
        </defs>
        <polygon points="155.400 180.200, 108.500 180.200, 85.000 139.600, 108.500 98.900, 155.400 98.900, 178.800 139.600, 155.400 180.200" fill="url('#image-bg-blogb')" />
        <polygon class="blog-svg-overlay" stroke="#ead82c" stroke-width="1" fill="#fff" fill-opacity="0.7" points="155.400 180.200, 108.500 180.200, 85.000 139.600, 108.500 98.900, 155.400 98.900, 178.800 139.600, 155.400 180.200"/>
        <text class="blog-svg-text" fill="#585757" font-family="ZwoOT-Xbold,Zwo OT" font-size="11" font-weight="700" transform="translate(113 142)">
            Daphne
        </text>
        </a>
    </g>
    <g class="g-empathy blog-svg-item">
        <a xlink:href="http://simplifyingpurchasing.com/2018/02/14/empathy-map-stage_1/" href="http://simplifyingpurchasing.com/2018/02/14/empathy-map-stage_1/" target="_blank">
        <defs>
            <pattern id="image-bg-blogc" x="74" y="43" height="95" width="95" patternUnits="userSpaceOnUse">
            <image width="95" height="95" xlink:href="./public/images/hexagons/blog-3.png"/>
            </pattern>
        </defs>
        <polygon points="263.400 90.800, 240.000 131.400, 193.000 131.400, 169.600 90.800, 193.000 50.200, 240.000 50.200, 263.400 90.800" fill="url('#image-bg-blogc')" />
        <polygon class="blog-svg-overlay" stroke="#ead82c" stroke-width="1" fill="#fff" fill-opacity="0.7" points="263.400 90.800, 240.000 131.400, 193.000 131.400, 169.600 90.800, 193.000 50.200, 240.000 50.200, 263.400 90.800"/>
        <text class="blog-svg-text" fill="#585757" font-family="ZwoOT-Xbold,Zwo OT" font-size="11" font-weight="700" transform="translate(194 94)">
            Empathy
        </text>
        </a>
    </g>
    <g class="g-prototype blog-svg-item">
        <a xlink:href="http://simplifyingpurchasing.com/2018/03/07/prototype-stage-4-prototype-map/" href="http://simplifyingpurchasing.com/2018/03/07/prototype-stage-4-prototype-map/" target="_blank">
        <defs>
            <pattern id="image-bg-blogd" x="0" y="46" height="95" width="95" patternUnits="userSpaceOnUse">
            <image width="95" height="95" xlink:href="./public/images/hexagons/blog-4.png"/>
            </pattern>
        </defs>
        <polygon points="24.000 229.000, 0.600 188.300, 24.000 147.700, 71.000 147.700, 94.400 188.300, 71.000 229.000, 24.000 229.000" fill="url('#image-bg-blogd')" />
        <polygon  class="blog-svg-overlay" stroke="#ead82c" stroke-width="1" fill="#fff" fill-opacity="0.7" points="24.000 229.000, 0.600 188.300, 24.000 147.700, 71.000 147.700, 94.400 188.300, 71.000 229.000, 24.000 229.000"/>
        <text class="blog-svg-text" fill="#585757" font-family="ZwoOT-Xbold,Zwo OT" font-size="11" font-weight="700" transform="translate(22 192)">
            Prototype
        </text>
        </a>
    </g>
    <g class="g-ideate blog-svg-item">
        <a xlink:href="http://simplifyingpurchasing.com/2018/02/28/ideate-stage-3-ideate-map/" href="http://simplifyingpurchasing.com/2018/02/28/ideate-stage-3-ideate-map/" target="_blank">
        <defs>
            <pattern id="image-bg-bloge" x="84" y="0" height="95" width="95" patternUnits="userSpaceOnUse">
            <image width="95" height="95" xlink:href="./public/images/hexagons/blog-5.png"/>
            </pattern>
        </defs>
        <polygon points="155.400 277.800, 108.500 277.800, 85.000 237.100, 108.500 196.500, 155.400 196.500, 178.800 237.100, 155.400 277.800" fill="url('#image-bg-bloge')" />
        <polygon class="blog-svg-overlay" stroke="#ead82c" stroke-width="1" fill="#fff" fill-opacity="0.7" points="155.400 277.800, 108.500 277.800, 85.000 237.100, 108.500 196.500, 155.400 196.500, 178.800 237.100, 155.400 277.800"/>
        <text class="blog-svg-text" fill="#585757"  font-family="ZwoOT-Xbold,Zwo OT" font-size="11" font-weight="700" transform="translate(116 240)">
            Ideate
        </text>
        </a>
    </g>
    <g class="g-define blog-svg-item">
        <a xlink:href="http://simplifyingpurchasing.com/2018/02/21/define-stage-2-define-map/" href="http://simplifyingpurchasing.com/2018/02/21/define-stage-2-define-map/" target="_blank">
        <defs>
            <pattern id="image-bg-blogf" x="74" y="46" height="95" width="95" patternUnits="userSpaceOnUse">
            <image width="95" height="95" xlink:href="./public/images/hexagons/blog-6.png"/>
            </pattern>
        </defs>
        <polygon points="193.000 229.000, 169.600 188.300, 193.000 147.700, 240.000 147.700, 263.400 188.300, 240.000 229.000, 193.000 229.000" fill="url('#image-bg-blogf')" />
        <polygon class="blog-svg-overlay" stroke="#ead82c" stroke-width="1" fill="#fff" fill-opacity="0.7" points="193.000 229.000, 169.600 188.300, 193.000 147.700, 240.000 147.700, 263.400 188.300, 240.000 229.000, 193.000 229.000"/>
        <text class="blog-svg-text" fill="#585757" font-family="ZwoOT-Xbold,Zwo OT" font-size="11" font-weight="700" transform="translate(200 192)">
            Define
        </text>
        </a>
    </g>
</svg>