<section id="contact">
    <div class="container">
        <h2 class="section-title">Contact</h2>
        <div class="title-border"></div>
        <div class="section-container">
            <div class="footer-item left-side" itemtype="http://schema.org/LocalBusiness">
                <h5 class="title">{{ tl.contact.fastcontact }}</h5>
                <p itemprop="name"><strong>LAKRAN Procurement Professionals</strong></p>
                <p itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                   <span itemprop="streetAddress">Apeldoornseweg 51</span><br />
                    <span itemprop="postOfficeBoxNumber">Postbus 115</span><br />
                    <span itemprop="postalCode">6800 AC</span> <span itemprop="addressLocality">Arnhem</span><br />
                    <span itemprop="addressCountry">The Netherlands</span>
                </p>
                <p>
                    tel: <a class="primary-link" href="tel:+31264452331"><span itemprop="telephone">+31 26 - 445 23 31</span></a><br />
                    mail: </span> <a class="primary-link" href="mailto:info@lakran.com"><span itemprop="email">info@lakran.com</span></a>
                </p>
            </div>
            <div class="footer-item right-side">
                <div id="map" class="footer-maps"></div>
            </div>
        </div>
    </div>
</section>