<section id="contact">
    <div class="container">
        <h2 class="section-title">Contact</h2>
        <div class="title-border"></div>
        <div class="section-container">
            <div class="footer-item left-side" itemtype="http://schema.org/LocalBusiness">
                <h5 class="title">{{ tl.contact.fastcontact }}</h5>
                <p itemprop="name"><strong>LAKRAN Procurement Professionals</strong></p>
                <p itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                   <span itemprop="streetAddress">Apeldoornseweg 51</span><br />
                    <span itemprop="postOfficeBoxNumber">Postbus 115</span><br />
                    <span itemprop="postalCode">6800 AC</span> <span itemprop="addressLocality">Arnhem</span><br />
                    <span itemprop="addressCountry">The Netherlands</span>
                </p>
                <p>
                    tel: <a class="primary-link" href="tel:+31264452331"><span itemprop="telephone">+31 26 - 445 23 31</span></a><br />
                    mail: </span> <a class="primary-link" href="mailto:info@lakran.com"><span itemprop="email">info@lakran.com</span></a>
                </p>
            </div>
            <div class="footer-item right-side">
                <!-- <div id="map" class="footer-maps"></div> -->
                <div class="iframe-container">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2457.076445649933!2d5.906537315523898!3d51.98726027971681!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c7a5b3b2152c07%3A0x6a788686606d8bc!2sApeldoornseweg+51%2C+6814+BJ+Arnhem!5e0!3m2!1snl!2snl!4v1515596745344" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</section>