<section id="contact">
    <div class="container">
        <h2 class="section-title">Contact</h2>
        <div class="title-border"></div>
        <div class="section-container">
            <div class="footer-item left-side" itemtype="http://schema.org/LocalBusiness">
                <h5 class="title">{{ tl.contact.fastcontact }}</h5>
                <p itemprop="name"><strong>LAKRAN Procurement Professionals</strong></p>
                <p itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                   <span itemprop="streetAddress">{{ tl.contact.streetname }}</span><br />
                    <span itemprop="postOfficeBoxNumber">{{ tl.contact.postbox }}</span><br />
                    <span itemprop="postalCode">6800 AC</span> <span itemprop="addressLocality">Arnhem</span><br />
                    <span itemprop="addressCountry">{{ tl.contact.country }}</span>
                </p>
                <p>
                    mail: </span> <a class="primary-link" href="mailto:info@lakran.com"><span itemprop="email">info@lakran.com</span></a>
                </p>
            </div>
            <div class="footer-item right-side">
                <!-- <div id="map" class="footer-maps"></div> -->
                <div class="iframe-container">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10832.438337964088!2d5.96373735874322!3d51.97659856551617!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c7a38ad10f1c81%3A0x3888ddc06a4ff5b9!2sMeander+251%2C+6825+MC+Arnhem!5e0!3m2!1snl!2snl!4v1538115778055" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</section>