<footer>
    <div class="container">
        <!-- Inserted copyright text, done by javascript -->
        <div class="companies">
            <a href="http://lakran.com" target="_blank">
                <img src="./public/images/logos/lakrangr-applogo.png" alt="LAKRAN Commerce Group" class="company lakran">
            </a>
            <a href="http://lakranvmsservices.com" target="_blank">
                <img src="./public/images/logos/lakran-vms-services-logo.png" alt="LAKRAN VMS Services" class="company lvms">
            </a>
            <a href="http://again.nl" target="_blank">
                <img src="./public/images/logos/again-applogo.png" alt="AGAIN" class="company again">
            </a>
            <a href="http://www.lakran.com/again-stichting/" target="_blank">
                <img src="./public/images/logos/against-applogo.png" alt="Stichting AGAIN" class="company stichting">
            </a>
            <a href="http://flexforcemonkey.com" target="_blank">
                <img src="./public/images/logos/ffm-applogo.png" alt="FlexForceMonkey" class="company ffm">
            </a>
        </div>
    </div>
</footer>