<section id="reasons">
    <div class="container">
        <h2 class="section-title">{{ tl.menu.ourreasons }}</h2>
        <div class="row all-reasons">
            <div class="column why" onclick="selectReason('why')">
                <div class="circle">
                    <span class="fa fa-question-circle"></span>
                </div>
                <div class="block-title">
                    <h4>Why</h4>
                </div>
            </div>
            <div class="column how" onclick="selectReason('how')">
                <div class="circle">
                    <span class="fa fa-cogs"></span>
                </div>
                <div class="block-title">
                    <h4>How</h4>
                </div>
            </div>
            <div class="column what" onclick="selectReason('what')">
                <div class="circle">
                    <span class="fa fa-info-circle"></span>
                </div>
                <div class="block-title">
                    <h4>What</h4>
                </div>
            </div>
        </div>
        <div class="block-reasons">
            <div class="block-reason why">
                    <div class="text-block">
                    <h4>Why</h4>
                    <p>De wereld om ons heen verandert steeds sneller. Dit geldt ook zeker voor de wereld van tijdelijke arbeid, ook wel flex genoemd. De arbeidsmarkt flexibiliseert in een razend tempo. Er ontstaat gebrek aan talent en technologische ontwikkelingen blijven toenemen. Alle bedrijven erkennen inmiddels dat, om bij te blijven met deze grote veranderingen, je niet meer zonder digitalisering van de bedrijfsprocessen kunt. Hierin geldt dat data “key” is om ook inzicht te krijgen in deze processen. Om te bepalen of je nog de juiste wendbaarheid hebt of dat je juist andere strategische stappen wilt gaan zetten. <br><br>
                    Kortom <strong>“Stretch your flex”</strong></p>
                    </div>
                    <div class="icon-block">
                    <span class="fa fa-question-circle"></span>
                    </div>
                <div class="image-block"></div>
            </div>
            <div class="block-reason how">
                <div class="text-block">
                    <h4>How</h4>
                    <p>Middels “Stretch your flex” gaan we op zoek naar de vraag achter de vraag. Voor welke veranderingen sta je de komende jaren en wat betekent dit voor nu en in de toekomst. We kijken graag samen met jou over de interne grenzen heen, om zo te komen tot een unieke creatieve oplossing die inzicht geeft. Een richting die tevens helpt in het verder maken van strategisch keuzes. <br><br>
                    Zeker voor inhuurprocessen geldt dat er altijd veel stakeholders bij betrokken zijn. Purchasing, HR en de operatie hebben allemaal haar eigen belang. Daarom extra belangrijk om alle partijen mee te nemen in een overall proces en dit met de juiste zorgvuldigheid en vanuit ieders perspectief te managen. Dit doen wij niet alleen. Wij maken hiervoor gebruik van verschillende partijen in de markt om zo te komen tot nuttige oplossingen. </p>
                </div>
                <div class="icon-block">
                    <span class="fa fa-cogs"></span>
                </div>
                <div class="image-block"></div>
            </div>
            <div class="block-reason what">
                <div class="text-block">
                    <h4>What</h4>
                    <p>We bieden verschillende dienstverleningen aan, onderverdeeld in vier oplossingen. <br><br> <a onclick="buttonClick('#solutions')" class="btn-primary">Bekijk ze hier</a></p>
                </div>
                <div class="icon-block">
                    <span class="fa fa-info-circle"></span>
                </div>
                <div class="image-block"></div>
            </div>
        </div>
    </div>
</section>