<section id="ourservices">
    <div class="container">
        <h2 class="section-title">{{ tl.menu.ourservices }}</h2>
        <div class="title-border"></div>
        <div class="puzzles">
            <div class="whole-puzzle">
                {{> puzzle-svg}}
            </div>
        </div>
    </div>
    <div class="coffee-daphne">
        <img src="./public/images/daphne/daphnemetaroma.svg" alt="Daphne">
    </div>
</section>