<svg id="Laag_1" data-name="Laag 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="-1 -1 629 205">
    <g class="stappenplan-svg-item stappenplan-empathy">
    <a class="stappenplan-svg-link" xlink:href="./roadmap?step=empathy" href="./roadmap?step=empathy">
        <defs>
        <pattern id="image-bg-empathy" x="148" y="139" height="150" width="150" patternUnits="userSpaceOnUse">
            <image width="150" height="150" xlink:href="./public/images/hexagons/roadmap-empathy.png"/>
        </pattern>
        </defs>
        <polygon fill="url('#image-bg-empathy')"  stroke="#c9d311" stroke-width="1" points="109.85 0.47 37 0.47 0.58 63.56 37 126.65 109.85 126.65 146.28 63.56 109.85 0.47"/>
        <polygon class="stappenplan-svg-overlay" points="109.85 0.47 37 0.47 0.58 63.56 37 126.65 109.85 126.65 146.28 63.56 109.85 0.47"/>
        <text class="stappenplan-svg-text" transform="translate(30 71)">Empathy</text>
        <line x1="40" y1="85" y2="85" stroke-width="1" stroke="#c9d311" x2="107"/>
    </a>
    </g>
    <g class="stappenplan-svg-item stappenplan-define">
    <a class="stappenplan-svg-link" xlink:href="./roadmap?step=define" href="./roadmap?step=define">
        <defs>
        <pattern id="image-bg-define" x="120" y="65" height="150" width="150" patternUnits="userSpaceOnUse">
            <image width="150" height="150" xlink:href="./public/images/hexagons/roadmap-define.png"/>
        </pattern>
        </defs>
        <polygon fill="url('#image-bg-define')" stroke="#c9d311" stroke-width="1" points="229.88 75.99 157.03 75.99 120.61 139.08 157.03 202.17 229.88 202.17 266.31 139.08 229.88 75.99"/>  
        <polygon class="stappenplan-svg-overlay" points="229.88 75.99 157.03 75.99 120.61 139.08 157.03 202.17 229.88 202.17 266.31 139.08 229.88 75.99"/>  
        <text class="stappenplan-svg-text" transform="translate(162 146.5)">Define</text>
        <line x1="227" y1="160" y2="160" stroke-width="1" stroke="#c9d311" x2="158"/>
    </a>
    </g>
    <g class="stappenplan-svg-item stappenplan-ideate">
    <a class="stappenplan-svg-link" xlink:href="./roadmap?step=ideate" href="./roadmap?step=ideate">
        <defs>
        <pattern id="image-bg-ideate" x="89" y="139" height="150" width="150" patternUnits="userSpaceOnUse">
            <image width="150" height="150" xlink:href="./public/images/hexagons/roadmap-ideate.png"/>
        </pattern>
        </defs>
        <polygon fill="url('#image-bg-ideate')" stroke="#c9d311" stroke-width="1" points="349.92 0.5 277.06 0.5 240.64 63.59 277.06 126.68 349.92 126.68 386.34 63.59 349.92 0.5"/>
        <polygon class="stappenplan-svg-overlay" points="349.92 0.5 277.06 0.5 240.64 63.59 277.06 126.68 349.92 126.68 386.34 63.59 349.92 0.5"/>
        <text class="stappenplan-svg-text" transform="translate(284 71)">Ideate</text>
        <line x1="280" y1="85" y2="85" stroke-width="1" stroke="#c9d311" x2="348"/>
    </a>
    </g>
    <g class="stappenplan-svg-item stappenplan-prototype">
    <a class="stappenplan-svg-link" xlink:href="./roadmap?step=prototype" href="./roadmap?step=prototype">
        <defs>
        <pattern id="image-bg-prototype" x="58" y="65" height="150" width="150" patternUnits="userSpaceOnUse">
            <image width="150" height="150" xlink:href="./public/images/hexagons/roadmap-prototype.png"/>
        </pattern>
        </defs>
        <polygon fill="url('#image-bg-prototype')" stroke="#c9d311" stroke-width="1" points="469.95 76.23 397.1 76.23 360.67 139.32 397.1 202.41 469.95 202.41 506.37 139.32 469.95 76.23"/>
        <polygon class="stappenplan-svg-overlay" points="469.95 76.23 397.1 76.23 360.67 139.32 397.1 202.41 469.95 202.41 506.37 139.32 469.95 76.23"/>
        <text class="stappenplan-svg-text" transform="translate(387 146.5)">Prototype</text>
        <line x1="470" y1="160" y2="160" stroke-width="1" stroke="#c9d311" x2="400"/>
    </a>
    </g>
    <g class="stappenplan-svg-item stappenplan-test">
    <a class="stappenplan-svg-link"  xlink:href="./roadmap?step=test" href="./roadmap?step=test">
        <defs>
        <pattern id="image-bg-test" x="28" y="139" height="150" width="150" patternUnits="userSpaceOnUse">
            <image width="150" height="150" xlink:href="./public/images/hexagons/roadmap-test.png"/>
        </pattern>
        </defs>
        <polygon fill="url('#image-bg-test')" stroke="#c9d311" stroke-width="1" points="589.98 0.5 517.13 0.5 480.7 63.59 517.13 126.68 589.98 126.68 626.4 63.59 589.98 0.5"/>
        <polygon class="stappenplan-svg-overlay" points="589.98 0.5 517.13 0.5 480.7 63.59 517.13 126.68 589.98 126.68 626.4 63.59 589.98 0.5"/>
        <text class="stappenplan-svg-text" transform="translate(534 71)">Test</text>
        <line x1="590" y1="85" y2="85" stroke-width="1" stroke="#c9d311" x2="520"/>
    </a>
    </g>
</svg>