<section id="whitepapers">
    <div class="container">
        <h2 class="section-title">Whitepapers</h2>
        <div class="title-border"></div>
        <div class="section-container">
            <a class="whitepaper dashboarding" href="/whitepaper/dashboarding">
                <h3 class="title">P2P Dashboarding en BI-trends</h3>
                <div class="gradient"></div>
            </a>
            <a class="whitepaper fiori" href="/whitepaper/fiori">
                <h3 class="title">Een transitie naar Fiori, ervaringen en tips</h3>
                <div class="gradient"></div>
            </a>
        </div>
    </div>
</section>