<section id="wow">
    <div class="container">
        <h2 class="section-title">WOW</h2>
        <div class="title-border"></div>
        {{> wow-svg}}
        <div class="wow-text">
            <p>{{ tl.wow.alinea1 }}</p>
            <p>{{ tl.wow.alinea2 }}</p>
            <a target="_blank" href="/wow" class="btn-primary-gradient">LAKRAN presents WOW</a>
            <a href="http://blog.simplifyingpurchasing.com/2018/02/07/daphne-genter-lakran-presents-wow/" target="_blank" class="blog-daphne btn-primary-invert">{{ tl.wow.whoisdaphne }}</a>
        </div>
    </div>
</section>