<svg id="grid" class="clear" xmlns="http://www.w3.org/2000/svg" id="Laag_1" data-name="Laag 1" viewBox="0 0 347.4 364.2">
    <g>
        <polygon points="199.100 47.500, 146.000 68.100, 154.700 97.300, 192.400 83.100, 262.900 152.200, 242.600 252.800, 154.800 281.500, 87.900 214.000, 95.700 170.100, 69.800 163.900, 59.400 224.100, 148.600 314.500, 266.800 276.800, 294.900 140.900, 199.100 47.500" fill="#868789" />
    </g>
    <g class="header-item item-1">
        <defs>
        <pattern id="bg-emphaty" x="20" y="8" height="118" width="118" patternUnits="userSpaceOnUse">
            <image width="118" height="118" xlink:href="./public/images/hexagons/empathy.png" />
        </pattern>
        </defs>
        <polygon points="232.900 18.100, 177.100 6.700, 140.100 54.500, 157.500 113.000, 212.200 125.300, 250.600 78.200, 232.900 18.100" fill="url('#bg-emphaty')" />
        <polygon class="overlay" points="232.900 18.100, 177.100 6.700, 140.100 54.500, 157.500 113.000, 212.200 125.300, 250.600 78.200, 232.900 18.100" fill="#ffffff" fill-opacity="0.7" stroke="#ef7d15" stroke-width="1"/>
        <g class="svg-text-line">
        <text x="207" y="24" font-size="15" text-anchor="middle" >
            Empathy
        </text>
        <line x1="228" y1="35" y2="35" stroke-width="1" stroke="#ef7d15" x2="185"/>
        </g>
        <g class="svg-text-line-ie">
        <text x="196" y="65" font-size="15" text-anchor="middle" >
            Empathy
        </text>
        <line x1="215" y1="75" y2="75" stroke-width="1" stroke="#ef7d15" x2="170"/>
        </g>
    </g>
    <g class="header-item item-2">
        <defs>
        <pattern id="bg-define" x="99" y="87" height="118" width="118" patternUnits="userSpaceOnUse">
            <image width="118" height="118" xlink:href="./public/images/hexagons/define.png"/>
        </pattern>
        </defs>
        <polygon points="315.100 98.900, 257.800 86.500, 219.300 133.600, 236.700 192.400, 292.800 205.800, 332.700 159.300, 315.100 98.900" fill="url('#bg-define')" />
        <polygon class="overlay" points="315.100 98.900, 257.800 86.500, 219.300 133.600, 236.700 192.400, 292.800 205.800, 332.700 159.300, 315.100 98.900" fill="#ffffff" fill-opacity="0.7" stroke="#39bbd1" stroke-width="1"/>
        <g class="svg-text-line">
        <text x="306" y="84" font-size="15" text-anchor="middle">
            Define
        </text>
        <line x1="327" y1="95" y2="95" stroke-width="1" stroke="#39bbd1" x2="287"/>
        </g>
        <g class="svg-text-line-ie">
        <text x="277" y="145" font-size="15" text-anchor="middle">
            Define
        </text>
        <line x1="297" y1="155" y2="155" stroke-width="1" stroke="#39bbd1" x2="256"/>
        </g>
    </g>
    <g class="header-item item-3">
        <defs>
        <pattern id="bg-ideate" x="77" y="84" height="118" width="118" patternUnits="userSpaceOnUse">
            <image width="118" height="118" xlink:href="./public/images/hexagons/ideate.png"/>
        </pattern>
        </defs>
        <polygon points="292.400 217.000, 236.400 203.600, 198.900 248.200, 216.000 305.700, 270.900 320.100, 309.700 276.100, 292.400 217.000" fill="url('#bg-ideate')" />
        <polygon class="overlay" points="292.400 217.000, 236.400 203.600, 198.900 248.200, 216.000 305.700, 270.900 320.100, 309.700 276.100, 292.400 217.000" fill="#ffffff" fill-opacity="0.7" stroke="#c9d30f" stroke-width="1"/>
        <g class="svg-text-line">
        <text x="311" y="203" font-size="15" text-anchor="middle">
            Ideate
        </text>
        <line x1="330" y1="215" y2="215" stroke-width="1" stroke="#c9d30f" x2="292"/>
        </g>
        <g class="svg-text-line-ie">
        <text x="255" y="260" font-size="15" text-anchor="middle">
            Ideate
        </text>
        <line x1="233" y1="272" y2="272" stroke-width="1" stroke="#c9d30f" x2="277"/>
        </g>
    </g>
    <g class="header-item item-4">
        <defs>
        <pattern id="bg-prototype" x="90" y="0" height="118" width="118" patternUnits="userSpaceOnUse">
            <image width="118" height="118" xlink:href="./public/images/hexagons/prototype.png"/>
        </pattern>
        </defs>
        <polygon points="187.500 253.500, 134.200 240.000, 99.000 282.900, 116.000 338.800, 168.200 353.200, 204.600 310.800, 187.500 253.500" fill="url('#bg-prototype')" />
        <polygon class="overlay" points="187.500 253.500, 134.200 240.000, 99.000 282.900, 116.000 338.800, 168.200 353.200, 204.600 310.800, 187.500 253.500" fill="#ffffff" fill-opacity="0.7" stroke="#ead82b" stroke-width="1"/>
        <g class="svg-text-line">
        <text x="217" y="257" font-size="15" text-anchor="middle">
            Prototype
        </text>
        <line x1="194" y1="270" y2="270" stroke-width="1" stroke="#ead82b" x2="240"/>
        </g>
        <g class="svg-text-line-ie">
        <text x="153" y="295" font-size="15" text-anchor="middle">
            Prototype
        </text>
        <line x1="129" y1="307" y2="307" stroke-width="1" stroke="#ead82b" x2="176"/>
        </g>
    </g>
    <g class="header-item item-5">
        <defs>
        <pattern id="bg-test" x="17" y="44" height="118" width="118" patternUnits="userSpaceOnUse">
            <image width="118" height="118" xlink:href="./public/images/hexagons/test.png"/>
        </pattern>
        </defs>
        <polygon points="110.700 173.200, 58.700 160.700, 24.900 204.300, 41.800 259.900, 92.800 273.300, 127.800 230.300, 110.700 173.200" fill="url('#bg-test')" />
        <polygon class="overlay" points="110.700 173.200, 58.700 160.700, 24.900 204.300, 41.800 259.900, 92.800 273.300, 127.800 230.300, 110.700 173.200" fill="#ffffff" fill-opacity="0.7" stroke="#868789" stroke-width="1"/>
        <g class="svg-text-line">
        <text x="123" y="198" font-size="15" text-anchor="middle">
            Test
        </text>
        <line x1="103" y1="207" y2="207" stroke-width="1" stroke="#868789" x2="146"/>
        </g>
        <g class="svg-text-line-ie">
        <text x="77" y="215" font-size="15" text-anchor="middle">
            Test
        </text>
        <line x1="55" y1="226" y2="226" stroke-width="1" stroke="#868789" x2="97"/>
        </g>
    </g>
    <g class="header-item item-6">
        <a xlink:href="http://simplifyingpurchasing.com/" href="http://simplifyingpurchasing.com/" target="_blank">
        <defs>
            <pattern id="bg-lakran" x="38" y="50" height="118" width="118" patternUnits="userSpaceOnUse">
            <image width="118" height="118" xlink:href="./public/images/hexagons/lakran.png"/>
            </pattern>
        </defs>
        <polygon points="131.700 60.600, 78.200 49.700, 43.900 95.100, 61.100 151.900, 113.200 164.300, 149.100 119.000, 131.700 60.600" fill="url('#bg-lakran')" />
        <polygon points="131.700 60.600, 78.200 49.700, 43.900 95.100, 61.100 151.900, 113.200 164.300, 149.100 119.000, 131.700 60.600" fill="#ffffff" fill-opacity="0" stroke="#868789" stroke-width="1"/>
        </a>
    </g>
    </svg>