{{> navbar}}

<section id="404">
    <div class="container">
        <h2 class="section-title">{{ tl.404.title }}</h2>
        <div class="title-border"></div> 
        <p class="text-center">
            {{ tl.404.text }} <a href="/">home</a>.
        </p>
    </div>
</section>

{{> contact-extended}}

{{> footer}}