{{> navbar}}

<div class="corevalues">
    <section id="corevalues">
        <div class="container">
            <h2 class="section-title">{{ tl.corevalues.title }}</h2>
            <div class="title-border"></div>
            <div class="text-center core-values-container">
                <p>{{ tl.corevalues.text }}</p>
                <img class="nl" src="./public/images/corevalues-nl.png" alt="Onze core values">
                <img class="en" src="./public/images/corevalues-en.png" alt="Our core values">
            </div>
        </div>
    </section>
    <div class="group-banner">
        <div class="orange-banner"></div>
        <div class="black-banner"></div>
        <img src="./public/images/persons/lakran-group.png" alt="LAKRAN Group photo">
    </div>
</div>

{{> footer}}