{{> navbar}}

<div class="corevalues">
    <section id="corevalues">
        <div class="container">
            <h2 class="section-title">{{ tl.corevalues.title }}</h2>
            <div class="title-border"></div>
            <img src="./public/images/core-values.png" alt="Our core values">
        </div>
    </section>
    <div class="group-banner">
        <div class="orange-banner"></div>
        <div class="black-banner"></div>
        <img src="./public/images/persons/lakran-group.png" alt="LAKRAN Group photo">
    </div>
</div>

{{> footer}}