{{> slider}}

{{> navbar}}

{{> ourreasons}}

<!-- Coffee banner -->
<div class="banner banner-coffee">
    <img src="./public/images/banners/coffee.png" alt="">
    <div class="banner-text">
        <h2>Value as a Service</h2>
    </div>
</div>

{{> ourservices}}

{{> partnerships}}

<!-- Keep learning banner -->

{{> blogs}}

{{> whitepapers}}

{{> wow}}

<!-- Tie Banner -->

{{> jobsnewsletter}}

{{> contact}}

{{> footer}}