{{> slider}}

{{> navbar}}

{{> ourreasons}}

<!-- Coffee banner -->
<div class="banner banner-coffee">
    <img src="./public/images/banners/coffee.png" alt="Value as a Service">
    <div class="banner-text">
        <h2>Value as a Service</h2>
    </div>
</div>

{{> ourservices}}

{{> partnerships}}

<!-- Keep learning banner -->
<div class="banner banner-keep-learning">
    <img src="./public/images/banners/keep-learning.jpg" alt="Keep learning">
</div>

{{> blogs}}

{{> whitepapers}}

{{> wow}}

<!-- Tie Banner -->
<div class="banner banner-tie">
    <img src="./public/images/banners/tie.jpg" alt="LAKRAN Banner">
</div>

{{> jobsnewsletter}}

<!-- Writing Banner -->
<div class="banner banner-writing">
    <img src="./public/images/banners/writing.jpg" alt="Writing Banner">
</div>

{{> contact}}

{{> contact-extended}}

{{> footer}}