{{> navbar}}

<section id="customer-strategy" class="customer-case">
    <div class="choose-service">
        <ul class="services">
            <li class="active strategy">
                Strategy<span> as a Service</span>
            </li>
            <li class="notactive insights">
                <a href="/customer-case-insights">Insights</a>
            </li>
            <li class="notactive solutioning">
                <a href="/customer-case-solutioning">Solutioning</a>
            </li>
            <li class="notactive management">
                <a href="/customer-case-management">Management</a>
            </li>
        </ul>
    </div>

    <h2 class="section-title">{{ tl.strategypage.case.title }}</h2>
    <div class="title-border"></div> 
    <div class="container">
        <div class="text-center coming-soon">
            <p>{{ tl.strategypage.case.comingsoon }}</p>
            <img class="coming-soon-img" src="./public/images/daphne/coming_soon.svg" alt="Coming soon!">
        </div>
    </div>
</section>

{{> contact-extended}}

{{> footer}}