{{> navbar}}

<div id="strategy-page" class="service-page">
    <div class="choose-service">
        <ul class="services">
            <li class="active">
                {{ tl.ourservices.strategytitle }}
            </li>
            <li class="notactive">
                <a href="/insights-as-a-service">Insights</a>
            </li>
            <li class="notactive">
                <a href="/solutioning-as-a-service">Solutioning</a>
            </li>
            <li class="notactive">
                <a href="/management-as-a-service">Management</a>
            </li>
        </ul>
    </div>
    
    <div class="container">
        <h2 class="page-title">{{ tl.strategypage.pagetitle }}</h2>
    </div>
</div>

{{> contact-extended}}

{{> footer}}