@font-face {
  font-family: 'ZwoOT';
  src: url("../fonts/ZwoOT-Light.eot");
  src: url("..//fonts/ZwoOT-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/ZwoOT-Light.woff") format("woff"), url("../fonts/ZwoOT-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'ZwoOT-Xbold';
  src: url("../fonts/ZwoOT-Xbold.eot");
  src: url("../fonts/ZwoOT-Xbold.eot?#iefix") format("embedded-opentype"), url("../fonts/ZwoOT-Xbold.woff") format("woff"), url("../fonts/ZwoOT-Xbold.ttf") format("truetype");
  font-weight: 800;
}
@font-face {
  font-family: 'ZwoOT-SemiBd';
  src: url("../fonts/ZwoOT-SemiBd.eot");
  src: url("../fonts/ZwoOT-SemiBd.eot?#iefix") format("embedded-opentype"), url("../fonts/ZwoOT-SemiBd.woff") format("woff"), url("../fonts/ZwoOT-SemiBd.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Lifestyle M54';
  src: url("../fonts/LifestyleM54.eot");
  src: url("../fonts/LifestyleM54.eot?#iefix") format("embedded-opentype"), url("../fonts/LifestyleM54.woff2") format("woff2"), url("../fonts/LifestyleM54.woff") format("woff"), url("../fonts/LifestyleM54.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Lifestyle M54';
  src: url("../fonts/LifestyleM54_1.eot");
  src: url("../fonts/LifestyleM54_1.eot?#iefix") format("embedded-opentype"), url("../fonts/LifestyleM54_1.woff2") format("woff2"), url("../fonts/LifestyleM54_1.woff") format("woff"), url("../fonts/LifestyleM54_1.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Lifestyle M54';
  src: url("../fonts/LifestyleM54_2.eot");
  src: url("../fonts/LifestyleM54_2.eot?#iefix") format("embedded-opentype"), url("../fonts/LifestyleM54_2.woff2") format("woff2"), url("../fonts/LifestyleM54_2.woff") format("woff"), url("../fonts/LifestyleM54_2.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* line 1, ../sass/_partials/_base.scss */
* {
  box-sizing: border-box;
}

/* line 5, ../sass/_partials/_base.scss */
body, html {
  height: 100%;
}

/* line 9, ../sass/_partials/_base.scss */
body {
  font-family: "ZwoOT", Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #2b2b2b;
}

/* line 15, ../sass/_partials/_base.scss */
img {
  max-width: 100%;
}

/* line 19, ../sass/_partials/_base.scss */
strong {
  font-family: "ZwoOT-SemiBd", Helvetica, Arial, sans-serif;
}

/* line 23, ../sass/_partials/_base.scss */
.flash.flash-success {
  text-align: center;
  color: #006922;
}

/* line 28, ../sass/_partials/_base.scss */
.container {
  width: 60%;
  margin: 0 auto;
}
@media (max-width: 1100px) {
  /* line 28, ../sass/_partials/_base.scss */
  .container {
    width: 65%;
  }
}
@media (max-width: 900px) {
  /* line 28, ../sass/_partials/_base.scss */
  .container {
    width: 70%;
  }
}
@media (max-width: 768px) {
  /* line 28, ../sass/_partials/_base.scss */
  .container {
    width: 85%;
  }
}

/* line 42, ../sass/_partials/_base.scss */
h1 {
  font-family: "ZwoOT-Xbold", Helvetica, Arial, sans-serif;
  font-size: 3rem;
}

/* line 46, ../sass/_partials/_base.scss */
h2 {
  font-family: "ZwoOT-Xbold", Helvetica, Arial, sans-serif;
  font-size: 2.5rem;
}

/* line 50, ../sass/_partials/_base.scss */
h3 {
  font-family: "ZwoOT-Xbold", Helvetica, Arial, sans-serif;
  font-size: 2rem;
}

/* line 54, ../sass/_partials/_base.scss */
h4 {
  font-family: "ZwoOT-SemiBd", Helvetica, Arial, sans-serif;
  font-size: 2rem;
}

/* line 58, ../sass/_partials/_base.scss */
h5 {
  font-family: "ZwoOT-SemiBd", Helvetica, Arial, sans-serif;
  font-size: 1.8rem;
}

/* line 62, ../sass/_partials/_base.scss */
h6 {
  font-family: "ZwoOT-SemiBd", Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
}

/* line 67, ../sass/_partials/_base.scss */
a,
a:visited {
  color: #2b2b2b;
  font-family: "ZwoOT-SemiBd", Helvetica, Arial, sans-serif;
}

/* line 73, ../sass/_partials/_base.scss */
a:hover,
a:focus,
a:active {
  color: #515151;
}

/* line 79, ../sass/_partials/_base.scss */
a.green-link,
a.green-link:visited {
  color: #ef7c14;
}

/* line 84, ../sass/_partials/_base.scss */
a.green-link:focus,
a.green-link:hover,
a.green-link:active {
  color: #ab570c;
}

/* line 90, ../sass/_partials/_base.scss */
a.link-light,
a.link-light:visited {
  color: #858588;
}

/* line 95, ../sass/_partials/_base.scss */
a.link-light:focus,
a.link-light:hover,
a.link-light:active {
  color: #5f5f61;
}

/* line 101, ../sass/_partials/_base.scss */
input, textarea {
  padding: 6px;
  border: 1px solid #c6c6c6;
  width: 100%;
  margin: 6px 0 8px 0;
}

/* line 108, ../sass/_partials/_base.scss */
label {
  font-family: "ZwoOT-SemiBd", Helvetica, Arial, sans-serif;
}

/* line 112, ../sass/_partials/_base.scss */
.btn-white-transparent, .btn-white-transparent-xl, .btn-primary, .btn-primary-xl, .btn-secondary, .btn-secondary-xl, .btn-dark-grey, .btn-dark-grey-xl {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 1.1rem;
  font-family: "ZwoOT-SemiBd", Helvetica, Arial, sans-serif;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 0;
  transition: all 0.8s;
  text-decoration: none;
}

/* line 132, ../sass/_partials/_base.scss */
.btn-white-transparent, .btn-white-transparent-xl {
  background-color: rgba(255, 255, 255, 0.6);
  border: 3px solid white;
  color: #2b2b2b;
}
/* line 137, ../sass/_partials/_base.scss */
.btn-white-transparent:hover, .btn-white-transparent-xl:hover, .btn-white-transparent:focus, .btn-white-transparent-xl:focus, .btn-white-transparent:active, .btn-white-transparent-xl:active {
  background-color: rgba(255, 255, 255, 0.9);
}
/* line 142, ../sass/_partials/_base.scss */
.btn-white-transparent:disabled, .btn-white-transparent-xl:disabled, .btn-white-transparent[disabled], [disabled].btn-white-transparent-xl {
  cursor: not-allowed;
  background-color: rgba(255, 255, 255, 0.7);
}

/* line 149, ../sass/_partials/_base.scss */
.btn-white-transparent-xl {
  padding: 15px 20px;
  font-size: 1.4rem;
}

/* line 155, ../sass/_partials/_base.scss */
.btn-primary, .btn-primary-xl {
  background-color: #ef7c14;
  border: 1px solid #ef7c14;
  color: white;
}
/* line 160, ../sass/_partials/_base.scss */
.btn-primary:hover, .btn-primary-xl:hover, .btn-primary:focus, .btn-primary-xl:focus, .btn-primary:active, .btn-primary-xl:active {
  background-color: #ab570c;
  border-color: #ab570c;
  color: white;
}
/* line 167, ../sass/_partials/_base.scss */
.btn-primary:disabled, .btn-primary-xl:disabled, .btn-primary[disabled], [disabled].btn-primary-xl {
  cursor: not-allowed;
  background-color: #f4a45c;
  border-color: #f4a45c;
}

/* line 175, ../sass/_partials/_base.scss */
.btn-primary-xl {
  padding: 15px 20px;
  font-size: 1.4rem;
}

/* line 181, ../sass/_partials/_base.scss */
a.btn-primary, a.btn-primary-xl {
  color: white;
}

/* line 185, ../sass/_partials/_base.scss */
.btn-secondary, .btn-secondary-xl {
  background-color: #858588;
  border: 1px solid #858588;
  color: #2b2b2b;
}
/* line 190, ../sass/_partials/_base.scss */
.btn-secondary:hover, .btn-secondary-xl:hover, .btn-secondary:focus, .btn-secondary-xl:focus, .btn-secondary:active, .btn-secondary-xl:active {
  background-color: #5f5f61;
  border-color: #5f5f61;
}
/* line 196, ../sass/_partials/_base.scss */
.btn-secondary:disabled, .btn-secondary-xl:disabled, .btn-secondary[disabled], [disabled].btn-secondary-xl {
  cursor: not-allowed;
  background-color: #acacae;
  border-color: #acacae;
}

/* line 204, ../sass/_partials/_base.scss */
.btn-secondary-xl {
  padding: 15px 20px;
  font-size: 1.4rem;
}

/* line 210, ../sass/_partials/_base.scss */
.btn-dark-grey, .btn-dark-grey-xl {
  background-color: #2b2b2b;
  border: 1px solid #2b2b2b;
  color: white;
}
/* line 215, ../sass/_partials/_base.scss */
.btn-dark-grey:hover, .btn-dark-grey-xl:hover, .btn-dark-grey:focus, .btn-dark-grey-xl:focus, .btn-dark-grey:active, .btn-dark-grey-xl:active {
  background-color: #515151;
}
/* line 220, ../sass/_partials/_base.scss */
.btn-dark-grey:disabled, .btn-dark-grey-xl:disabled, .btn-dark-grey[disabled], [disabled].btn-dark-grey-xl {
  cursor: not-allowed;
  background-color: rgba(43, 43, 43, 0.6);
}

/* line 227, ../sass/_partials/_base.scss */
.btn-dark-grey-xl {
  padding: 15px 20px;
  font-size: 1.4rem;
}

/* line 233, ../sass/_partials/_base.scss */
.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  width: 100%;
}
/* line 238, ../sass/_partials/_base.scss */
.row .column {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  padding: 15px;
}

/* line 246, ../sass/_partials/_base.scss */
.text-center {
  text-align: center;
}

/* line 250, ../sass/_partials/_base.scss */
.entire-width {
  width: 100%;
}

/* line 1, ../sass/_partials/_hero-slider.scss */
#hero-slider {
  position: relative;
}
/* line 3, ../sass/_partials/_hero-slider.scss */
#hero-slider .slide-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}
/* line 7, ../sass/_partials/_hero-slider.scss */
#hero-slider .slide-container .myslides {
  height: 91vh;
  width: 100%;
  display: inline-block;
  background-size: cover;
  position: relative;
}
@media (max-width: 1024px) and (max-height: 485px) and (orientation: landscape) {
  /* line 7, ../sass/_partials/_hero-slider.scss */
  #hero-slider .slide-container .myslides {
    height: 86vh;
  }
}
/* line 16, ../sass/_partials/_hero-slider.scss */
#hero-slider .slide-container .myslides .logo {
  position: absolute;
  top: 35px;
  left: 35px;
  width: 15%;
}
@media (max-width: 470px) {
  /* line 16, ../sass/_partials/_hero-slider.scss */
  #hero-slider .slide-container .myslides .logo {
    width: 40%;
  }
}
@media (max-width: 785px) and (max-height: 375px) and (orientation: landscape) {
  /* line 16, ../sass/_partials/_hero-slider.scss */
  #hero-slider .slide-container .myslides .logo {
    width: 20%;
  }
}
/* line 28, ../sass/_partials/_hero-slider.scss */
#hero-slider .slide-container .myslides .logo-text {
  position: absolute;
  top: 35px;
  left: calc(35px + 15%);
  font-family: "ZwoOT-SemiBd", Helvetica, Arial, sans-serif;
  width: 15%;
  padding: 0 15px;
  border-left: 3px solid white;
  margin-left: 15px;
  color: white;
  font-size: 2.8rem;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
/* line 44, ../sass/_partials/_hero-slider.scss */
#hero-slider .slide-container .text {
  color: #f2f2f2;
  font-size: 3rem;
  font-family: "ZwoOT-SemiBd", Helvetica, Arial, sans-serif;
  padding: 8px 12px;
  position: absolute;
  text-align: left;
  bottom: 20%;
  left: 5%;
  width: 70%;
}
@media (max-width: 480px) {
  /* line 44, ../sass/_partials/_hero-slider.scss */
  #hero-slider .slide-container .text {
    display: none;
  }
}
@media (max-width: 555px) {
  /* line 44, ../sass/_partials/_hero-slider.scss */
  #hero-slider .slide-container .text {
    bottom: 50%;
  }
}
@media (max-width: 768px) {
  /* line 44, ../sass/_partials/_hero-slider.scss */
  #hero-slider .slide-container .text {
    font-size: 2rem;
  }
}
@media (max-width: 1150px) {
  /* line 44, ../sass/_partials/_hero-slider.scss */
  #hero-slider .slide-container .text {
    font-size: 2.3rem;
  }
}
@media (max-width: 1000px) and (max-height: 550px) and (orientation: landscape) {
  /* line 44, ../sass/_partials/_hero-slider.scss */
  #hero-slider .slide-container .text {
    bottom: 18%;
    left: 3%;
    width: 60%;
    text-align: right;
    font-size: 2.4rem;
  }
}
@media (max-width: 785px) and (max-height: 375px) and (orientation: landscape) {
  /* line 44, ../sass/_partials/_hero-slider.scss */
  #hero-slider .slide-container .text {
    font-size: 2rem;
    text-align: left;
    bottom: 18%;
  }
}
/* line 81, ../sass/_partials/_hero-slider.scss */
#hero-slider .slide-container .slide-1 {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/city.jpg") no-repeat 50% 100%;
}
/* line 91, ../sass/_partials/_hero-slider.scss */
#hero-slider .slide-container .slide-2 {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/startup.jpg") no-repeat 50% 30%;
}
/* line 101, ../sass/_partials/_hero-slider.scss */
#hero-slider .slide-container .slide-3 {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/nature.jpg") no-repeat 50% 80%;
}
/* line 111, ../sass/_partials/_hero-slider.scss */
#hero-slider .slide-container .fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
/* line 115, ../sass/_partials/_hero-slider.scss */
#hero-slider .slide-container .buttons {
  position: absolute;
  right: 5%;
  bottom: 21%;
}
@media (max-width: 575px) {
  /* line 115, ../sass/_partials/_hero-slider.scss */
  #hero-slider .slide-container .buttons {
    bottom: 18%;
  }
}
@media (max-width: 375px) {
  /* line 115, ../sass/_partials/_hero-slider.scss */
  #hero-slider .slide-container .buttons {
    left: 50%;
    bottom: 20%;
    transform: translateX(-50%);
    right: auto;
  }
}
@media (max-width: 375px) and (max-height: 667px) {
  /* line 115, ../sass/_partials/_hero-slider.scss */
  #hero-slider .slide-container .buttons {
    bottom: 12%;
  }
}
/* line 132, ../sass/_partials/_hero-slider.scss */
#hero-slider .slide-container .buttons .btn-white-transparent-xl,
#hero-slider .slide-container .buttons .btn-contrast-transparent-xl {
  width: 270px;
  margin-bottom: 10px;
}
@media (max-width: 575px) {
  /* line 132, ../sass/_partials/_hero-slider.scss */
  #hero-slider .slide-container .buttons .btn-white-transparent-xl,
  #hero-slider .slide-container .buttons .btn-contrast-transparent-xl {
    padding: 10px 12px;
    font-size: 1.2rem;
    width: 230px;
  }
}
@media (max-width: 375px) {
  /* line 132, ../sass/_partials/_hero-slider.scss */
  #hero-slider .slide-container .buttons .btn-white-transparent-xl,
  #hero-slider .slide-container .buttons .btn-contrast-transparent-xl {
    width: 100%;
    font-size: 0.95rem;
  }
}
@media (max-width: 320px) {
  /* line 132, ../sass/_partials/_hero-slider.scss */
  #hero-slider .slide-container .buttons .btn-white-transparent-xl,
  #hero-slider .slide-container .buttons .btn-contrast-transparent-xl {
    width: 200px;
  }
}
@media (max-width: 1000px) and (max-height: 550px) and (orientation: landscape) {
  /* line 132, ../sass/_partials/_hero-slider.scss */
  #hero-slider .slide-container .buttons .btn-white-transparent-xl,
  #hero-slider .slide-container .buttons .btn-contrast-transparent-xl {
    padding: 10px 12px;
    font-size: 1.2rem;
    width: 230px;
  }
}
@media (max-width: 785px) and (max-height: 375px) and (orientation: landscape) {
  /* line 132, ../sass/_partials/_hero-slider.scss */
  #hero-slider .slide-container .buttons .btn-white-transparent-xl,
  #hero-slider .slide-container .buttons .btn-contrast-transparent-xl {
    padding: 4px 8px;
    font-size: 1rem;
    width: 205px;
  }
}
/* line 163, ../sass/_partials/_hero-slider.scss */
#hero-slider .prev, #hero-slider .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  z-index: 9999;
}
/* line 176, ../sass/_partials/_hero-slider.scss */
#hero-slider .prev:hover, #hero-slider .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
/* line 180, ../sass/_partials/_hero-slider.scss */
#hero-slider .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* line 184, ../sass/_partials/_hero-slider.scss */
#hero-slider .unslider-nav {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
@media (max-width: 785px) and (max-height: 355px) and (orientation: landscape) {
  /* line 184, ../sass/_partials/_hero-slider.scss */
  #hero-slider .unslider-nav {
    bottom: 0;
  }
}
/* line 193, ../sass/_partials/_hero-slider.scss */
#hero-slider .unslider-nav li {
  cursor: pointer;
  height: 25px;
  width: 25px;
  margin: 0 2px;
  border: 4px solid white;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
@media (max-width: 785px) and (max-height: 375px) and (orientation: landscape) {
  /* line 193, ../sass/_partials/_hero-slider.scss */
  #hero-slider .unslider-nav li {
    width: 18px;
    height: 18px;
    border-width: 3px;
  }
}
/* line 208, ../sass/_partials/_hero-slider.scss */
#hero-slider .unslider-nav li.unslider-active, #hero-slider .unslider-nav li:hover {
  background-color: white;
}

@keyframes fade {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 1;
  }
}
/* line 1, ../sass/_partials/_navbar.scss */
#nav-bar,
#simple-navbar {
  height: 9vh;
  background-color: #f5f5f5;
  z-index: 9999;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
@media (max-width: 1024px) and (max-height: 485px) and (orientation: landscape) {
  /* line 1, ../sass/_partials/_navbar.scss */
  #nav-bar,
  #simple-navbar {
    height: 14vh;
  }
}
/* line 10, ../sass/_partials/_navbar.scss */
#nav-bar .left-menu,
#simple-navbar .left-menu {
  width: 25%;
  padding: 8px 0 8px 35px;
  height: 9vh;
  float: left;
}
@media (max-width: 900px) {
  /* line 10, ../sass/_partials/_navbar.scss */
  #nav-bar .left-menu,
  #simple-navbar .left-menu {
    width: 15%;
  }
}
@media (max-width: 768px) {
  /* line 10, ../sass/_partials/_navbar.scss */
  #nav-bar .left-menu,
  #simple-navbar .left-menu {
    width: 49%;
  }
}
@media (max-width: 1024px) and (max-height: 485px) and (orientation: landscape) {
  /* line 10, ../sass/_partials/_navbar.scss */
  #nav-bar .left-menu,
  #simple-navbar .left-menu {
    height: 14vh;
    padding: 4px 0 4px 35px;
  }
}
/* line 25, ../sass/_partials/_navbar.scss */
#nav-bar .left-menu img,
#simple-navbar .left-menu img {
  height: 100%;
  cursor: pointer;
}
/* line 30, ../sass/_partials/_navbar.scss */
#nav-bar .right-menu,
#simple-navbar .right-menu {
  display: inline-block;
  width: 74%;
  height: 9vh;
  padding-right: 20px;
}
@media (max-width: 900px) {
  /* line 30, ../sass/_partials/_navbar.scss */
  #nav-bar .right-menu,
  #simple-navbar .right-menu {
    width: 84%;
  }
}
@media (max-width: 768px) {
  /* line 30, ../sass/_partials/_navbar.scss */
  #nav-bar .right-menu,
  #simple-navbar .right-menu {
    width: 49%;
  }
}
@media (max-width: 1024px) and (max-height: 485px) and (orientation: landscape) {
  /* line 30, ../sass/_partials/_navbar.scss */
  #nav-bar .right-menu,
  #simple-navbar .right-menu {
    height: 14vh;
  }
}
/* line 44, ../sass/_partials/_navbar.scss */
#nav-bar .right-menu .mobile-toggle,
#simple-navbar .right-menu .mobile-toggle {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 9vh;
  font-size: 1.4rem;
}
@media (max-width: 1024px) and (max-height: 485px) and (orientation: landscape) {
  /* line 44, ../sass/_partials/_navbar.scss */
  #nav-bar .right-menu .mobile-toggle,
  #simple-navbar .right-menu .mobile-toggle {
    height: 14vh;
  }
}
/* line 53, ../sass/_partials/_navbar.scss */
#nav-bar .right-menu .mobile-toggle .nav-icon,
#simple-navbar .right-menu .mobile-toggle .nav-icon {
  width: 40px;
  height: 25px;
  position: relative;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
/* line 60, ../sass/_partials/_navbar.scss */
#nav-bar .right-menu .mobile-toggle .nav-icon span,
#simple-navbar .right-menu .mobile-toggle .nav-icon span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #2b2b2b;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}
/* line 71, ../sass/_partials/_navbar.scss */
#nav-bar .right-menu .mobile-toggle .nav-icon span:nth-child(1),
#simple-navbar .right-menu .mobile-toggle .nav-icon span:nth-child(1) {
  top: 0px;
  transform-origin: left center;
}
/* line 75, ../sass/_partials/_navbar.scss */
#nav-bar .right-menu .mobile-toggle .nav-icon span:nth-child(2),
#simple-navbar .right-menu .mobile-toggle .nav-icon span:nth-child(2) {
  top: 10px;
  transform-origin: left center;
}
/* line 79, ../sass/_partials/_navbar.scss */
#nav-bar .right-menu .mobile-toggle .nav-icon span:nth-child(3),
#simple-navbar .right-menu .mobile-toggle .nav-icon span:nth-child(3) {
  top: 20px;
  transform-origin: left center;
}
/* line 86, ../sass/_partials/_navbar.scss */
#nav-bar .right-menu .mobile-toggle .nav-icon.open span:nth-child(1),
#simple-navbar .right-menu .mobile-toggle .nav-icon.open span:nth-child(1) {
  transform: rotate(45deg);
  top: -3px;
  left: 8px;
}
/* line 91, ../sass/_partials/_navbar.scss */
#nav-bar .right-menu .mobile-toggle .nav-icon.open span:nth-child(2),
#simple-navbar .right-menu .mobile-toggle .nav-icon.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}
/* line 95, ../sass/_partials/_navbar.scss */
#nav-bar .right-menu .mobile-toggle .nav-icon.open span:nth-child(3),
#simple-navbar .right-menu .mobile-toggle .nav-icon.open span:nth-child(3) {
  transform: rotate(-45deg);
  top: 26px;
  left: 8px;
}
@media (min-width: 769px) {
  /* line 44, ../sass/_partials/_navbar.scss */
  #nav-bar .right-menu .mobile-toggle,
  #simple-navbar .right-menu .mobile-toggle {
    display: none;
  }
}
/* line 105, ../sass/_partials/_navbar.scss */
#nav-bar .right-menu .menu-items,
#simple-navbar .right-menu .menu-items {
  height: 9vh;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style-type: none;
  position: relative;
  padding-left: 0;
}
@media (max-width: 768px) {
  /* line 105, ../sass/_partials/_navbar.scss */
  #nav-bar .right-menu .menu-items,
  #simple-navbar .right-menu .menu-items {
    position: absolute;
    background: #f5f5f5;
    flex-direction: column;
    height: auto;
    align-items: stretch;
    right: 25px;
    z-index: 9999;
    padding-left: 40px;
  }
}
@media (max-width: 1024px) and (max-height: 485px) and (orientation: landscape) {
  /* line 105, ../sass/_partials/_navbar.scss */
  #nav-bar .right-menu .menu-items,
  #simple-navbar .right-menu .menu-items {
    height: auto;
  }
}
@media (max-width: 768px) {
  /* line 127, ../sass/_partials/_navbar.scss */
  #nav-bar .right-menu .menu-items .menu-item,
  #simple-navbar .right-menu .menu-items .menu-item {
    padding: 12px 35px 12px 0;
  }
  /* line 130, ../sass/_partials/_navbar.scss */
  #nav-bar .right-menu .menu-items .menu-item:last-child,
  #simple-navbar .right-menu .menu-items .menu-item:last-child {
    padding-bottom: 16px;
  }
}
/* line 134, ../sass/_partials/_navbar.scss */
#nav-bar .right-menu .menu-items .menu-item a,
#simple-navbar .right-menu .menu-items .menu-item a {
  color: #2b2b2b;
  font-family: "ZwoOT-SemiBd", Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  text-decoration: none;
  height: 100%;
  padding: 3vh 15px;
  text-align: center;
  cursor: pointer;
}
/* line 143, ../sass/_partials/_navbar.scss */
#nav-bar .right-menu .menu-items .menu-item a:hover, #nav-bar .right-menu .menu-items .menu-item a:focus, #nav-bar .right-menu .menu-items .menu-item a:active,
#simple-navbar .right-menu .menu-items .menu-item a:hover,
#simple-navbar .right-menu .menu-items .menu-item a:focus,
#simple-navbar .right-menu .menu-items .menu-item a:active {
  background: linear-gradient(90deg, #ffef23 0%, #ee7616 15%, #eb6232 65%, #e4352e 95%);
  color: white;
}
@media (max-width: 1070px) {
  /* line 134, ../sass/_partials/_navbar.scss */
  #nav-bar .right-menu .menu-items .menu-item a,
  #simple-navbar .right-menu .menu-items .menu-item a {
    font-size: 1rem;
    padding: 3vh 10px;
  }
}
@media (max-width: 790px) {
  /* line 134, ../sass/_partials/_navbar.scss */
  #nav-bar .right-menu .menu-items .menu-item a,
  #simple-navbar .right-menu .menu-items .menu-item a {
    font-size: 0.9rem;
    padding: 3vh 8px;
  }
}
@media (max-width: 768px) {
  /* line 134, ../sass/_partials/_navbar.scss */
  #nav-bar .right-menu .menu-items .menu-item a,
  #simple-navbar .right-menu .menu-items .menu-item a {
    text-align: left;
    padding: 0;
  }
}

/* line 165, ../sass/_partials/_navbar.scss */
#nav-bar.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  margin-bottom: 9vh;
}
@media (max-width: 1024px) and (max-height: 485px) and (orientation: landscape) {
  /* line 165, ../sass/_partials/_navbar.scss */
  #nav-bar.sticky {
    margin-bottom: 14vh;
  }
}

/* line 1, ../sass/_partials/_sections.scss */
section {
  padding: 50px 0;
  border-bottom: 1px solid #ececec;
}
/* line 4, ../sass/_partials/_sections.scss */
section:last-child {
  border-bottom: 0;
}
/* line 7, ../sass/_partials/_sections.scss */
section .section-title {
  margin: 0 0 50px 0;
  padding: 0;
  text-align: center;
}
@media (max-width: 768px) {
  /* line 7, ../sass/_partials/_sections.scss */
  section .section-title {
    font-size: 2.3rem;
  }
}
@media (max-width: 500px) {
  /* line 7, ../sass/_partials/_sections.scss */
  section .section-title {
    font-size: 2rem;
  }
}
/* line 18, ../sass/_partials/_sections.scss */
section .sub-title {
  font-family: "ZwoOT-SemiBd", Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  text-align: center;
}

/* line 25, ../sass/_partials/_sections.scss */
section.full-screen {
  height: 100vh;
  padding: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -o-align-items: center;
  align-items: center;
}
/* line 32, ../sass/_partials/_sections.scss */
section.full-screen .container {
  margin: 0;
}
@media (max-height: 650px) {
  /* line 25, ../sass/_partials/_sections.scss */
  section.full-screen {
    height: auto;
    padding: 20px 0;
  }
}

/* line 2, ../sass/_partials/_ourreasons.scss */
#reasons .all-reasons {
  justify-content: space-between;
}
/* line 4, ../sass/_partials/_ourreasons.scss */
#reasons .all-reasons .column {
  position: relative;
  cursor: pointer;
  padding: 0;
}
/* line 8, ../sass/_partials/_ourreasons.scss */
#reasons .all-reasons .column:hover .circle, #reasons .all-reasons .column:focus .circle, #reasons .all-reasons .column:active .circle, #reasons .all-reasons .column .circle.active {
  background: radial-gradient(#ffef23, #ee7616, #eb6232);
}
/* line 10, ../sass/_partials/_ourreasons.scss */
#reasons .all-reasons .column:hover .circle .svg-inline--fa, #reasons .all-reasons .column:focus .circle .svg-inline--fa, #reasons .all-reasons .column:active .circle .svg-inline--fa, #reasons .all-reasons .column .circle.active .svg-inline--fa {
  color: white;
}
/* line 14, ../sass/_partials/_ourreasons.scss */
#reasons .all-reasons .column:hover .block-title, #reasons .all-reasons .column:focus .block-title, #reasons .all-reasons .column:active .block-title, #reasons .all-reasons .column .block-title.active {
  background: #ef7c14;
}
/* line 17, ../sass/_partials/_ourreasons.scss */
#reasons .all-reasons .column .circle {
  background: #858588;
  width: 80%;
  margin: 0 auto;
  border-radius: 50%;
  position: relative;
  transition: background-color 0.8s;
}
@media (max-width: 480px) {
  /* line 17, ../sass/_partials/_ourreasons.scss */
  #reasons .all-reasons .column .circle {
    display: none;
  }
}
/* line 27, ../sass/_partials/_ourreasons.scss */
#reasons .all-reasons .column .circle .svg-inline--fa {
  font-size: 8rem;
  display: inline-block;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
@media (max-width: 1330px) {
  /* line 27, ../sass/_partials/_ourreasons.scss */
  #reasons .all-reasons .column .circle .svg-inline--fa {
    font-size: 6rem;
  }
}
@media (max-width: 930px) {
  /* line 27, ../sass/_partials/_ourreasons.scss */
  #reasons .all-reasons .column .circle .svg-inline--fa {
    font-size: 4.2rem;
  }
}
/* line 43, ../sass/_partials/_ourreasons.scss */
#reasons .all-reasons .column .block-title {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  background: #858588;
  padding: 10px 0;
  position: relative;
  top: -12%;
}
/* line 51, ../sass/_partials/_ourreasons.scss */
#reasons .all-reasons .column .block-title h4 {
  margin: 0;
  color: white;
}
@media (max-width: 768px) {
  /* line 51, ../sass/_partials/_ourreasons.scss */
  #reasons .all-reasons .column .block-title h4 {
    font-size: 1.5rem;
  }
}
@media (max-width: 480px) {
  /* line 43, ../sass/_partials/_ourreasons.scss */
  #reasons .all-reasons .column .block-title {
    width: 95%;
  }
}
@media (max-width: 480px) {
  /* line 62, ../sass/_partials/_ourreasons.scss */
  #reasons .all-reasons .column .block-title.active {
    background: #858588;
  }
}
/* line 68, ../sass/_partials/_ourreasons.scss */
#reasons .all-reasons .why .circle, #reasons .all-reasons .why .block-title {
  margin: 0;
}
/* line 71, ../sass/_partials/_ourreasons.scss */
#reasons .all-reasons .what .circle, #reasons .all-reasons .what .block-title {
  margin: 0 0 0 auto;
}
/* line 76, ../sass/_partials/_ourreasons.scss */
#reasons .block-reasons .block-reason {
  display: flex;
  justify-content: space-between;
  position: relative;
}
/* line 80, ../sass/_partials/_ourreasons.scss */
#reasons .block-reasons .block-reason .text-block {
  width: 47%;
  height: 100%;
}
@media (max-width: 480px) {
  /* line 80, ../sass/_partials/_ourreasons.scss */
  #reasons .block-reasons .block-reason .text-block {
    width: 100%;
  }
}
/* line 88, ../sass/_partials/_ourreasons.scss */
#reasons .block-reasons .block-reason .text-block h4 {
  background: #ef7c14;
  margin: 0;
  padding: 8px 0;
  text-align: center;
  color: white;
}
/* line 95, ../sass/_partials/_ourreasons.scss */
#reasons .block-reasons .block-reason .text-block p {
  background: white;
  margin: 0;
  padding: 20px 45px 20px 20px;
  height: 100%;
  border: 2px solid #ef7c14;
}
@media (max-width: 480px) {
  /* line 95, ../sass/_partials/_ourreasons.scss */
  #reasons .block-reasons .block-reason .text-block p {
    padding-right: 30px;
  }
}
@media (max-width: 360px) {
  /* line 95, ../sass/_partials/_ourreasons.scss */
  #reasons .block-reasons .block-reason .text-block p {
    padding-right: 20px;
  }
}
/* line 109, ../sass/_partials/_ourreasons.scss */
#reasons .block-reasons .block-reason .icon-block {
  width: 15%;
  background: #ef7c14;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 480px) {
  /* line 109, ../sass/_partials/_ourreasons.scss */
  #reasons .block-reasons .block-reason .icon-block {
    display: none;
  }
}
/* line 120, ../sass/_partials/_ourreasons.scss */
#reasons .block-reasons .block-reason .icon-block img, #reasons .block-reasons .block-reason .icon-block span, #reasons .block-reasons .block-reason .icon-block .svg-inline--fa {
  font-size: 4rem;
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  transform: translate(-50%, -50%);
}
@media (max-width: 868px) {
  /* line 120, ../sass/_partials/_ourreasons.scss */
  #reasons .block-reasons .block-reason .icon-block img, #reasons .block-reasons .block-reason .icon-block span, #reasons .block-reasons .block-reason .icon-block .svg-inline--fa {
    font-size: 3rem;
  }
}
@media (max-width: 538px) {
  /* line 120, ../sass/_partials/_ourreasons.scss */
  #reasons .block-reasons .block-reason .icon-block img, #reasons .block-reasons .block-reason .icon-block span, #reasons .block-reasons .block-reason .icon-block .svg-inline--fa {
    font-size: 2rem;
  }
}
/* line 136, ../sass/_partials/_ourreasons.scss */
#reasons .block-reasons .block-reason .image-block {
  width: 47%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (max-width: 480px) {
  /* line 136, ../sass/_partials/_ourreasons.scss */
  #reasons .block-reasons .block-reason .image-block {
    display: none;
  }
}
/* line 147, ../sass/_partials/_ourreasons.scss */
#reasons .block-reasons .why .image-block {
  background-image: url("../images/why.jpg");
}
/* line 150, ../sass/_partials/_ourreasons.scss */
#reasons .block-reasons .why .icon-block img {
  margin-left: 2%;
}
@media (max-width: 360px) {
  /* line 150, ../sass/_partials/_ourreasons.scss */
  #reasons .block-reasons .why .icon-block img {
    margin-left: 5%;
  }
}
/* line 156, ../sass/_partials/_ourreasons.scss */
#reasons .block-reasons .what .image-block {
  background-image: url("../images/what.jpg");
}
/* line 159, ../sass/_partials/_ourreasons.scss */
#reasons .block-reasons .how .image-block {
  background-image: url("../images/how.jpg");
}
