.banner-scroll {
    width: 100%;
    height: 350px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
    //Specific for iOS devices
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
        background-attachment: scroll;
    }
    @media only screen and (max-width: 768px) {
        background-attachment: scroll;
    }
    .banner-text {
        color: white;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        z-index: 99;
        h2 {
            font-size: 3.2rem;
        }
    }
}

.banner {
    width: 100%;
    position: relative;
    @media(max-width: 400px) {
        display: none;
    } 
    img {
        position: relative;
    }
    .banner-text {
        color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
        z-index: 99;
        h2 {
            font-size: 3.2rem;
        }
    }
}

.banner.banner-coffee {
    .banner-text h2 {
        @media(max-width: 767px) {
            margin: 0;
            font-size: 2.6rem;
        }
        @media(max-width: 600px) {
            font-size: 2rem;
        }
        @media(max-width: 480px) {
            font-size: 1.6rem;
            font-family: $font-bold;
        }
    }
}

.banner-keep-learning {
    width: 100%;
    position: relative;
    img {
        position: relative;
    }
}

// .banner-tie {
//     background-image: url('../images/');
// }