#cookie {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    padding: 25px;
    background: rgba(236, 236, 236, 0.95);
    width: 45%;
    .cookie-banner {
        .title {
            margin: 0 0 10px 0;
            font-size: 1.6rem;
        }
        .text {
            margin: 0 0 25px 0;
        }
        a {
            margin-right: 10px;
        }
    }
    @media (max-width: 1050px) {
        width: 55%;
    }
    @media (max-width: 865px) {
        width: 65%;
    }
    @media (max-width: 725px) {
        width: 90%;
    }
    @media (max-width: 520px) {
        .cookie-banner {
            a {
                margin-bottom: 10px;
            }
        }
    }
}