.corevalues {
    .core-values-container {
        p {
            padding: 0 15%;
            @media (max-width: 900px) {
                padding: 0;
            }
        }
        img {
            display: none;
        }
    }
    .group-banner {
        position: relative;
        top: 5px;
        .orange-banner {
            height: 65px;
            background: $primary;
        }
        .black-banner {
            height: 15px;
            background: black;
        }
    }
}