.corevalues {
    .core-values-container {
        img {
            display: none;
        }
    }
    .group-banner {
        position: relative;
        top: 5px;
        .orange-banner {
            height: 65px;
            background: $primary;
        }
        .black-banner {
            height: 15px;
            background: black;
        }
    }
}