@font-face {
	font-family: 'ZwoOT';
	src: url('../fonts/ZwoOT-Light.eot');
	src: url('..//fonts/ZwoOT-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ZwoOT-Light.woff') format('woff'),
		url('../fonts/ZwoOT-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'ZwoOT-Xbold';
	src: url('../fonts/ZwoOT-Xbold.eot');
	src: url('../fonts/ZwoOT-Xbold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ZwoOT-Xbold.woff') format('woff'),
		url('../fonts/ZwoOT-Xbold.ttf') format('truetype');
	font-weight: 800;
}

@font-face {
	font-family: 'ZwoOT-SemiBd';
	src: url('../fonts/ZwoOT-SemiBd.eot');
	src: url('../fonts/ZwoOT-SemiBd.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ZwoOT-SemiBd.woff') format('woff'),
		url('../fonts/ZwoOT-SemiBd.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Lifestyle M54';
	src: url('../fonts/LifestyleM54.eot');
	src: url('../fonts/LifestyleM54.eot?#iefix') format('embedded-opentype'),
		url('../fonts/LifestyleM54.woff2') format('woff2'),
		url('../fonts/LifestyleM54.woff') format('woff'),
		url('../fonts/LifestyleM54.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Lifestyle M54';
	src: url('../fonts/LifestyleM54_1.eot');
	src: url('../fonts/LifestyleM54_1.eot?#iefix') format('embedded-opentype'),
		url('../fonts/LifestyleM54_1.woff2') format('woff2'),
		url('../fonts/LifestyleM54_1.woff') format('woff'),
		url('../fonts/LifestyleM54_1.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Lifestyle M54';
	src: url('../fonts/LifestyleM54_2.eot');
	src: url('../fonts/LifestyleM54_2.eot?#iefix') format('embedded-opentype'),
		url('../fonts/LifestyleM54_2.woff2') format('woff2'),
		url('../fonts/LifestyleM54_2.woff') format('woff'),
		url('../fonts/LifestyleM54_2.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'FontAwesome';
	src: url('../fonts/fa-regular-400.eot');
	src: url('../fonts/fa-regular-400.eot#iefix') format('embedded-opentype'),
		 url('../fonts/fa-regular-400.woff2') format('woff2'),
		 url('../fonts/fa-regular-400.woff') format('woff'),
		 url('../fonts/fa-regular-400.ttf') format('truetype');
		 font-weight: normal;
		 font-style: normal;
}
