footer {
    background: $dark-grey;
    color: white;
    .container {
        padding: 20px 0;
        .copyright {
            width: 60%;
            float: left;
            font-size: 0.8rem;
            padding-top: 9px;
            margin: 0;
        }
        .companies {
            width: 40%;
            display: inline-block;
            text-align: right;
            a {
                text-decoration: none;
            }
            .company {
                width: 25px;
            }
        }
        @media(max-width: 500px) {
            .copyright {
                width: 100%;
                float: none;
                text-align: center;
                margin-bottom: 15px;
            }
            .companies {
                width: 100%;
                text-align: center;
            }
        }
    }
}