#jobsnewsletter {
    .section-container {
        @include displayFlex;
        .item {
            @include prefix(flex, 1 1 0, webkit moz o);
            border: 2px solid $primary;
            .item-title {
                color: white;
                background: $primary;
                padding: 4px 5px;
                margin: 0;
                font-size: 1.4rem;
                text-align: center;
            }
            p {
                margin: 15px;
            }
            a {
                width: calc(100% - 30px);
                margin: 0 15px 15px 15px;
            }
        }
        .jobs {
            margin-right: 10px;
        }
        .newsletter {
            margin-left: 10px;
        }
        @media(max-width: 500px) {
            @include prefix(flex-direction, column, webkit moz o);
            .item {
                margin: 0;
            }
            .jobs {
                margin-bottom: 15px;
            }
        }
    }
}