#newsletter-popup {
    position: fixed;
    right: 10px;
    bottom: 10px;
    z-index: 999;
    background: $light-grey;
    width: 35%;
    .popup {
        text-align: center;
        position: relative;
        padding: 25px;
        .close {
            position: absolute;
            right: 10px;
            top: 10px;
            color: $dark-grey;
            font-size: 20px;
            cursor: pointer;
        }
        img {
            position: absolute;
            width: 90px;
            left: 50%;
            top: -15px;
            transform: translateX(-50%);
        }
        .text {
            padding-top: 20px;
            font-family: $font-bold;
        }
    }
    @media (max-width: 1000px) {
        .popup {
            img {
                width: 70px;
                top: -12px;
            }
        }
    }
    @media (max-width: 835px) {
        width: 45%;
        .popup {
            img {
                width: 90px;
                top: -12px;
            }
        }
    }
    @media (max-width: 685px) {
        width: 55%;
    }
    @media (max-width: 600px) {
        display: none;
    }
}