#ourservices {
    position: relative;
    padding-top: 28%;
    @media(max-width: 900px) {
        padding-top: 50px;
    }
    .container-puzzle {
        width: 40%;
        z-index: 10;
        position: relative;
        @media(max-width: 1100px) {
            width: 40%;
        }
        @media(max-width: 900px) {
            width: 50%;
        }
        @media(max-width: 768px) {
            width: 75%;
        }
    }
    .puzzles {
        z-index: 10;
        .whole-puzzle {
            #svgpuzzle {
                .hover-img {
                    display: none;
                }
                .strategy.overlay,
                .management.overlay {
                    fill: #f39200;
                }
                .insights.overlay,
                .solutioning.overlay {
                    fill: #ed7b12;
                }
                .icon {
                    font-family: 'FontAwesome';
                }
                .icon-management, .icon-solutioning {
                    font-family: 'FontAwesomeSolid';
                }
                .puzzle-piece.overlay {
                    &:hover, &:focus, &:active, &.active {
                        opacity: 0;
                    }
                }
            }
        }
    }
    .coffee-daphne {
        position: absolute;
        left: 0;
        top: -20%;
        z-index: 1;
        @media(max-width: 900px) {
            left: auto;
            right: 10%;
            top: auto;
            bottom: 15%;
        }
        img {
            max-width: none;
        }
        .with-cloud {
            @media(max-width: 900px) {
                display: none;
            }
        }
        .without-cloud {
            display: none;
            @media(max-width: 900px) {
                display: inline;
                width: 180%;
            }
            @media(max-width: 767px) {
                display: none;
            }
        }
    }
    .section-text {
        @include displayFlex;
        @include prefix(justify-content, center, webkit moz o);
        @media(max-width: 400px) {
            @include prefix(flex-direction, column, webkit moz o);
        }
        .left-text {
            text-align: right;
            margin-right: 10px;
            @include prefix(flex, 1 1 0, webkit moz o);
            @media(max-width: 400px) {
                text-align: center;
                margin-right: 0;
            }
            .insights, .solutioning, .management {
                display: none;
            }
        }
        .right-text {
            margin-left: 10px;
            @include prefix(flex, 1 1 0, webkit moz o);
            @media(max-width: 400px) {
                text-align: center;
                margin-left: 0;
            }
        }
        h4 {
            color: $primary;
            font-size: 1.2rem;
            margin-bottom: 5px;
            font-family: $font-xbold;
        }
        p {
            margin-top: 5px;
        }
    }
}