#whitepapers {
    .container {
        width: 75%;
    }
    .flash.flash-success {
        text-align: center;
    }
    .section-container {
        @include displayFlex;
        @media(max-width: 950px) {
            @include prefix(flex-direction, column, webkit moz o);
        }
        .whitepaper {
            position: relative;
            padding: 20px 100px;
            text-decoration: none;
            cursor: pointer;
            @include prefix(flex, 1 1 0, webkit moz o);
            @include displayFlex;
            @media(max-width: 950px) {
                height: 200px;
                display: block;
                padding: 50px;
            }
            .title {
                font-size: 1.4rem;
                font-family: $font-bold;
                text-align: center;
                color: white;
                margin: 0;
                z-index: 2;
                @include prefix(align-self, center, webkit moz o);
            }
            .gradient {
                position: absolute;
                width: 90px;
                height: 100%;
                right: 0;
                top: 0;
                transition: width 0.4s;
                z-index: 1;
                background: linear-gradient(
                    90deg, 
                    rgba(255, 239, 35, 0.4) 0%, 
                    rgba(238, 118, 22, 0.4) 20%, 
                    rgba(235, 98, 50, 0.4) 65%, 
                    rgba(228, 53, 46, 0.4) 95%);
                @media(max-width: 950px) {
                    display: none;
                }
            }
            &:hover, &:focus, &:active, &.active {
                .gradient {
                    width: 100%;
                }
            }
        }
        .dashboarding {
            margin-right: 10px;
            background: 
                linear-gradient(
                    rgba(0, 0, 0, 0.2),
                    rgba(0, 0, 0, 0.2)
                ),
                url('../images/cockpit-cut.jpg')
                no-repeat
                50% 90%;
            @media(max-width: 950px) {
                margin-right: 0;
                margin-bottom: 10px;
            }
        }
        .fiori {
            margin-left: 10px;
            background:
                linear-gradient(
                    rgba(0, 0, 0, 0.2),
                    rgba(0, 0, 0, 0.2)
                ),
                url('../images/landscape-cut.jpg')
                no-repeat
                0% 10%;
            @media(max-width: 950px) {
                margin-left: 0;
            }
        }
    }
    .view-more {
        margin-top: 40px;
    }
    .modal {
        form {
            width: 65%;
            margin: 0 auto;
        }
    }
}